<!DOCTYPE html>
<html lang="{{lang}}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}} – Balzac</title>
  <link rel="stylesheet" href="/assets/style.css">
  <style>
  a{
    color:#0066ff;
    font-weight:600;
    text-decoration:underline;
  }
</style>

</head>
<body>
  <div class="container">
    <nav>
      {{nav}}
    </nav>

    <h1>{{title}}</h1>

    {{content}}

    <footer>Fast static site · Balzac</footer>
  </div>
    <!-- Bouton WhatsApp flottant, commun à toutes les pages -->
  <a href="https://wa.me/33782178715"
     class="wa-float" target="_blank" rel="noopener" aria-label="Contact WhatsApp">
    <img src="/assets/images/wa.png" alt="WhatsApp">
  </a>
</body>
</html>
